<!-- pdf_contract.html -->
{% extends "main/base.html" %}
{% load static %}

{% block title %}Generate PDF Contract{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2>Order List</h2>

  <div class="row">
      {% if orders %}
          {% for order in orders %}
          <div class="col-md-4 mb-4">
              <div class="card shadow-sm">
                  <div class="card-body">
                      <h5 class="card-title">Order ID: {{ order.id }}</h5>
                      <p class="card-text"><strong>Product:</strong> {{ order.product.name }}</p>
                      <p class="card-text"><strong>Status:</strong> {{ order.status }}</p>
                      <p class="card-text"><strong>Date:</strong> {{ order.created_at }}</p>
                      <p class="card-text"><strong>Total Price:</strong> {{ order.total_price }}</p>
                      {% if order.status == "completed" %}
                      <a href="{% url 'generate_contract' order.id %}" style="background-color: #67594B;" class="btn btn-primary">Generate Contract</a>
                      {% endif %}
                  </div>
              </div>
          </div>
          {% endfor %}
      {% else %}
          <p>No orders found.</p>
      {% endif %}
  </div>
</div>
{% endblock %}
