{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sign up / Business</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="form-field">
                {{ form.name.label_tag }}<br>
                {{ form.name }}
            </div>
            <div class="form-field">
                {{ form.number.label_tag }}<br>
                {{ form.number }}
            </div>
            <div class="form-field">
                {{ form.email.label_tag }}<br>
                {{ form.email }}
            </div>
            <div class="form-field">
                {{ form.password.label_tag }}<br>
                {{ form.password }}
            </div>
            <div class="form-field">
                {{ form.re_password.label_tag }}<br>
                {{ form.re_password }}
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
