{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>
  <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
  {% tailwind_css %}
</head>
<body>
  <nav class="nav-bar">
    <div>
      <img class="logo" src="{% static 'main/images/logo.png' %}">
    </div>
    <div>
      <a class="button">Login</a>
      <a class="button">Sign Up</a>
    </div>
  </nav>
  {% block content %}

  {% endblock %}
  <hr/>
  <footer class="px-10 pt-10 pb-32 flex flex-row gap-32">
    <div class="flex flex-col gap-2">
      <div class="w-[100px]">
        <img src="{% static 'main/images/logo1.png' %}">
      </div>
      <div class="flex flex-row gap-2 pb-32"> 
        <img width="20" height="20" src="https://img.icons8.com/ios-glyphs/30/twitterx--v2.png" alt="twitterx--v2"/>
        <img width="20" height="20" src="https://img.icons8.com/material-outlined/24/instagram-new--v1.png" alt="instagram-new--v1"/>
        <img width="20" height="20" src="https://img.icons8.com/ios-glyphs/30/youtube-play.png" alt="youtube-play"/>
        <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/linkedin.png" alt="linkedin"/>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h3>Links</h3>
      <a>Shop</a>
      <a>Who We are</a>
      <a>Contact Us</a>
    </div>
  </footer>
</body>
</html>