{% extends "main/base.html" %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}
<main>
  <div class="relative h-[600px] overflow-hidden bg-cover bg-[50%] bg-no-repeat" style="background-image: url('{% static "main/images/image.png" %}');">
    <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden  bg-fixed">
    <div class="flex h-full items-center justify-end">
      <div class="w-1/3 text-right md:px-12">
        <h1 class="mb-6 text-3xl font-light">Empowering small and family-owned businesses with reliable, tailored supply solutions that fuel your success and growth.</h1>
      </div>
    </div>
  </div>
  </div>
  <div class="flex flex-row gap-10 mt-32 m-10 justify-center">
    <div class="w-[380px] h-[200px] border border-black rounded-md flex flex-col justify-center items-center gap-10 bg-customWhite">
      <h3 class="text-xl font-semibold">Explore Products</h3>
      <img width="30" height="30" src="https://img.icons8.com/material-outlined/24/search--v1.png" alt="search--v1"/>
    </div>
    <div class="w-[380px] h-[200px] border border-black rounded-md flex flex-col justify-center items-center gap-10 bg-customWhite">
      <h3 class="text-xl font-semibold">Manage Orders</h3>
      <img width="30" height="30" src="https://img.icons8.com/material-outlined/24/shopping-cart--v1.png" alt="shopping-cart--v1"/>
    </div>
    <div class="w-[380px] h-[200px] border border-black rounded-md flex flex-col justify-center items-center gap-10 bg-customWhite">
      <h3 class="text-xl font-semibold">Contact Us</h3>
      <img width="32" height="32" src="https://img.icons8.com/windows/32/phone.png" alt="phone"/>
    </div>
  </div>
  <div class="flex flex-row gap-12 py-32 px-20 ">
    <div>WHAT WE BELIEVE</div>
    <div class="w-2/3">At our core, we believe in the power of small and family-owned businesses to drive innovation, foster community, and create lasting impact. We are committed to supporting these enterprises with integrity, personalized service, and dependable supply solutions that align with their unique needs and values. Our mission is to build lasting relationships based on trust and mutual success, ensuring that every small and family business we serve has the tools and support necessary to achieve their full potential. We stand by the principle that when local businesses thrive, communities flourish, and the economy grows stronger together.</div>
  </div>
</main>
{% endblock %}