{% extends "main/base.html" %}
{% load static %}

{% block title %}Orders Summary{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4">Your Orders Summary</h1>

    <div class="card p-3 shadow-sm my-4" style="border-radius: 10px; border: 1px solid #a0927d; background-color: #ffffff; max-width: 500px; margin: auto;">
      <div class="text-center mb-2" style="background-color: #F9F8F3; color: #67594B; padding: 1px; border-radius: 5px; border: 1px solid #67594B;">
        <h5>Total paid: {{ total_paid }} SR</h5>
      </div>
      <div class="text-center mb-2">
        <h5>Total orders: {{ total_orders }}</h5>
      </div>
      <div class="d-flex justify-content-between px-1" style="font-size: 0.9rem; margin-bottom: 0.2rem;">
        <div class="d-flex flex-wrap justify-content-between" style="width: 100%;">
          <p style="margin-right: 10px;">Completed: {{ completed_orders }}</p>
          <p style="margin-right: 10px;">In Progress: {{ in_progress_orders }}</p>
          <p style="margin-right: 10px;">Rejected: {{ rejected_orders }}</p>
          <p style="margin-right: 10px;">Confirmed: {{ confirmed_orders }}</p>
          <p>Canceled: {{ canceled_orders }}</p>
        </div>
      </div>
    </div>
    

    <div class="row">
      {% for order in orders %}
          <div class="col-md-3 mb-4">
              <div class="card shadow-sm">
                  <div class="card-body">
                      <h3 class="card-title">Order #{{ order.order_number }}</h3>
                      <p class="card-text">Product: {{ order.product.name }}</p>
                      <p class="card-text">Total: ${{ order.total_price }}</p>
                      Status: 
                      <span class="badge 
                          {% if order.status == 'in_progress' %}
                              badge-warning
                          {% elif order.status == 'confirmed' %}
                              badge-info
                          {% elif order.status == 'completed' %}
                              badge-success
                          {% elif order.status == 'canceled' %}
                             badge-secondary
                          {% else %}
                          badge-danger
                          {% endif %}
                      ">
                          {{ order.get_status_display }}
                      </span>
                      <!-- <p class="card-text">Status: <span class="badge badge-info">{{ order.get_status_display }}</span></p> -->
                  </div>
              </div>
          </div>
      {% empty %}
          <p class="text-center">No orders found.</p>
      {% endfor %}
  </div>  
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
    .card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-body {
  flex: 1;
}
    .badge {
      padding: 0.2em 0.5em; 
      font-size: 0.8em; 
      font-weight: bold;
      border-radius: 0.25rem; 
      text-transform: capitalize; 
    }
  
    .badge-success {
      background-color: #28a745;
      color: white;
    }
  
    .badge-danger {
      background-color: #dc3545;
      color: white;
    }
  
    .badge-info {
      background-color: #17a2b8;
      color: white;
    }
  
    .badge-warning {
      background-color: #ffc107;
      color: black;
    }
  
    .badge-secondary {
      background-color: #6c757d;
      color: white;
    }
  </style>
{% endblock %}
