


<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <i class="fas fa-check-circle fa-5x text-success"></i>
        <h3 class="mt-3">Success!</h3>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  // jQuery code to show the modal
  $(document).ready(function(){
    $('#successModal').modal('show');
  });
</script>

